@media only screen and (min-width:1025px) {
  html {
    font-family: nishipi;
    background:#DEFFFF;
    display: block;
    height: 100%;
  }
  body {
    height: auto;
    position: relative;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #DEFFFF;
  }
  * {
    box-sizing: border-box;
  }
  h1, h2, p {
    color: #FF7596;
  }
  h2 {
    font-size:4.444vw;
    line-height:4.861vw;
  }
  div img {
    width: auto;
    height: 100%;
  }
  .border{
    border: 0.208vw solid #FF7596;
    border-radius: 4.514vw;
  }
  .first {
    position: relative;
    width: 100%;
    height: 62.500vw;
  }
  .second {
    position: relative;
    width: 100%;
    height: 62.500vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .third {
    position: relative;
    width: 100%;
    height: 59.722vw;
  }
  footer {
    position: relative;
    width: 100%;
    height: 23.611vw;
  }
  .about {
    position: relative;
    display: inline-block;
    background: #E9FFE3;
    width: 32.708vw;
    height: 41.597vw;
    margin: 2.431vw 0 0 2.083vw;
    padding: 5.556vw 0 0 1.736vw;
  }
  .about h2 {
    display: inline-block;
  }
  .e{
    margin-right: 0.694vw;
  }
  .about p {
    font-size: 2.500vw;
    line-height: 3.611vw;
    letter-spacing: -1.5%;
    font-style: italic;
  }
  .pomurchim {
    position:absolute;
    display: flex;
    top: 6.597vw;
    right:2.778vw;
  }
  .pomurchim p {
    font-size: 12.500vw;
  }
  .catbubs {
    position: relative;
    display: inline-block;
    background: white;
    width: 63.958vw;
    height: 36.667vw;
    margin: 0 0 -20.139vw -2.083vw;
    overflow: hidden;

  }
  .onebub {
    position: absolute;
    width: 6.736vw;
    height: 6.458vw;
    margin: 11.250vw 0 0 46.181vw;
    z-index: 2;
  }
  .kitbub1 {
    position: absolute;

  }
  .kitbub11 {
    position: absolute;
    margin: 0.694vw 0 0 0.694vw;
  }


  .catbubsmain, .catbubsshadow {
    position: absolute;
    display: inline-block;
    width: 63.958vw;
    height: 36.667vw;
  }
  .catbubsmain div, .catbubsshadow div {
    position: absolute;
  }
  .kitbub2 {
    margin: 5.208vw 0 0 3.819vw;
  }
  .kitbub22 {
    margin: 5.903vw 0 0 4.514vw;
  }
  .kitbub3 {
    width: 15.208vw;
    height: 15.486vw;
    margin: 4.375vw 0 0 13.681vw;
    background: url('../images/kitbub333.svg');
    background-size: auto 100%;
  }
  .kitbub33 {
    margin: 5.069vw 0 0 14.375vw;
  }
  .kitbub4 {
    width: 23.264vw;
    height: 20.625vw;
    margin: 7.014vw 0 0 30.764vw;
    background: url('../images/kitbub444.svg');
    background-size: auto 100%;
  }
  .kitbub44 {
    margin: 7.708vw 0 0 31.458vw;
  }
  .kitbub5 {
    margin: 13.750vw 0 0 -9.583vw;
    background: url('../images/kitbub555.svg');
    background-size: auto 100%;
  }
  .kitbub55 {
    margin: 14.444vw 0 0 -8.889vw;
  }
  .kitbub6 {
    margin: 24.514vw 0 0 23.611vw;
  }
  .kitbub66 {
    margin: 25.208vw 0 0 24.306vw;
  }
  .kitbub7 {
    margin: 15vw 0 0 37.986vw;
    background: url('../images/kitbub777.svg');
    background-size: auto 100%;
  }
  .kitbub77 {
    margin: 15.694vw 0 0 38.681vw;
  }

  .paws, .pawsp {
    position: relative;
    width: 43.819vw;
    height: 19.514vw;
    margin: -3.819vw 0 0 1.736vw;
    z-index: 2;
  }
  .paws div, .pawsp div {
    position: relative;
    display: inline-block;
    width: 10.139vw;
    height: 9.514vw;
    margin-right: 6.944vw;
  }
  .paws div:nth-of-type(3), .pawsp div:nth-of-type(3) {
    margin-left: 9.375vw;
  }
  .lpaw {
    background: url('../images/lpawp.svg');
    background-size: auto 100%;
  }
  .rpaw {
    background: url('../images/rpawp.svg');
    background-size: auto 100%;
  }
  .lpawp {
    background: url('../images/lpaw.svg');
    background-size: auto 100%;
  }
  .rpawp {
    background: url('../images/rpaw.svg');
    background-size: auto 100%;
  }
  .bubls1, .bubls2 {
    position: relative;
    background: #FFDCE9;
    width: 18.194vw;
    height: 54.306vw;
    overflow: hidden;
  }
  .bubls1 {
    margin-left:2.083vw;
  }
  .bublsmain1, .bublsb2 {
    position: relative;
    margin-left: 4.167vw;
    z-index: 1;
  }
  .bublsb1 {
    position: relative;
    margin:-101.042vw 0 0 4.861vw;
    z-index: 0;
  }
  .bubls2 {
    margin-right: 2.083vw;
  }
  .bublsmain2 {
    position: relative;
    margin:-101.042vw 0 0 4.861vw;
    z-index: 2;
  }
  .blocks3 {
    width:48.611vw;
    height:54.306vw;
  }
  .drops, .drips {
    background: white;
    width: 26.736vw;
    height: 10.417vw;
      overflow: hidden;
  }
  .drops {
    margin-left: auto;
    background: url('../images/dropscolor.svg');
    background-size: auto 100%;
  }
  .drips {
    background: url('../images/drips.svg');
    background-size: auto 100%;
  }
  .sound {
    /* background: #E9FFE3; */
    width: 48.611vw;
    height:30.764vw;
    margin: 1.389vw 0;
    overflow:hidden;
    background: url('../images/rainbow.svg');
    background-size: auto 100%;
  }
  .kitc {
    position: absolute;
    width: 21.667vw;
    height: 18.889vw;
    z-index: 1;
    margin: -24.722vw 0px 0px 13.472vw;
  }
  .vibr {
    width: 48.472vw;
    height: 30.764vw;
    position: relative;
    margin: -31.250vw 0px 0px -0.347vw;
    z-index: 2;
    padding: 1.389vw 0;
  }


  .murr {
    position: absolute;
  }
  .rrr, .mmm  {
    font-size: 8.889vw;
  }
  .rr, .rr1, .mm {
    font-size: 4.444vw;
  }
  .r, .r1, .r2, .m, .m1 {
    font-size: 2.778vw;
  }
  .rrr, .mmm, .rr, .rr1, .mm, .r, .r1, .r2, .m, .m1{
    position: absolute;
    display: flex;
    z-index: 3;
  }
  .pawsp {
    margin-top: 0.694vw;
  }
  .rrr {
    margin-top: -19.931vw;
    margin-left:22.014vw;
    transform: rotate(-19deg);
  }
  .rr {
    margin-top: -6.806vw;
    margin-left: 12.292vw;
    transform: rotate(15deg);
  }
  .rr1 {
    margin-top: 6.597vw;
    margin-left: 22.431vw;
    transform: rotate(-19deg);
  }
  .r {
    margin-top: -24.583vw;
    margin-left: 20.833vw;
    transform: rotate(15deg);
  }
  .r1 {
    margin-top: -0.972vw;
    margin-left:22.083vw;
    transform: rotate(-13deg);
  }
  .r2{
    margin-top: 15.764vw;
    margin-left:18.194vw;
    transform: rotate(15deg);
  }
  .mmm {
    margin-top: 13.264vw;
    margin-left:53.333vw;
  }
  .mm{
    margin-top: -14.236vw;
    margin-left:60.069vw;
  }
  .m {
    margin-top: 0;
    margin-left: 71.458vw;
    transform: rotate(90deg);
  }
  .m1 {
    margin-top: 21.389vw;
    margin-left: 70.278vw;
  }
  .mpt {
    position: relative;
    display: flex;
    width: 48.264vw;
    height: 26.389vw;
    margin: -13.889vw 0 0 auto;
    margin-right: 10.764vw;
    z-index: 1;
  }
  .moscow, .moskva, .piter, .spb, .torzhok, .logo {
    width: 16.319vw;
    height: 26.389vw;
    overflow: hidden;
  }
  .moscow, .torzhok {
    background: #FFF3E8;
  }
  .spb, .letters {
    background: #FFDCE9;
  }
  .spb {
    margin-left: -0.139vw;
  }
  .torzhok {
    margin-left: -0.139vw;
  }
  .gorod {
    position: absolute;
    transform: rotate(270deg);
    display: flex;
    z-index: 1;
  }
  .gorod h2 {
    margin: 0 0.139vw;
  }
  .moskva {
    top:0;
    left:11.111vw;
  }
  .piter {
    top:-1.736vw;
    left:27.083vw;
  }
  .tor {
    top:10.764vw;
    left:32.292vw;
  }
  .wavep1, .waveb1, .waveg1 {
    position: relative;
    opacity: 50%;
    z-index: 0;
  }
  .wavep2, .waveb2, .waveg2 {
    position: relative;
    opacity: 75%;
    z-index: 2;
  }
  .wavep1{
    margin: 5.556vw 0 0 0;
  }
  .wavep2 {
    margin: -18.750vw 0 0 0;
  }
  .waveb1{
    margin: 8.681vw 0 0 0;
  }
  .waveb2 {
    margin: -22.222vw 0 0 0;
  }
  .waveb1{
    margin: 8.681vw 0 0 0;
  }
  .waveb2 {
    margin: -22.222vw 0 0 0;
  }
  .waveg1 {
    margin: 4.514vw 0 0 0;
  }
  .waveg2{
    margin-top: -22.222vw;
  }
  .logo {
    position: relative;
    background:url('../images/logo1.svg');
    background-size: auto 100%;
    margin: -15.972vw 0 0 9.722vw;
    z-index: 1;
  }
  .letters {
    position: relative;
    width: 17.708vw;
    height: 16.667vw;
    margin: -10.069vw 0 0 14.236vw;
    z-index: 2;
  }
  .letters h2 {
    position: absolute;
    top:-0.139vw;
    left:-0.139vw;
    z-index: 1;
  }
  .blue h2 {
    position: absolute;
    top:0.278vw;
    left:0.278vw;
    color:#DEFFFF;
    z-index: 0;
  }
  .time {
    position: relative;
    width: 48.611vw;
    height: 30.972vw;
    background: white;
    margin: 30.972vw 0 0 19.097vw;
    z-index: 0;
    padding: 3.472vw 0.694vw;
  }
  .cat {
    position: relative;
    width: 45.833vw;
    height: 47.222vw;
    z-index: 2;
    margin: -37.500vw 5.556vw 0 0;
    margin-left: auto;
  }
  .kotik {
    position: absolute;
  }
  .tie {
   position: absolute;
   left: 31.597vw;
   margin-top:15.972vw;
  }
  .tiec {
   position: absolute;
   left: 31.250vw;
   margin-top: 15.278vw;
  }

  .footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.389vw auto;
    width: 95.833vw;
    height: 20.139vw;
    background: #FFF3E8;
    padding:5.903vw 6.944vw 5.903vw 3.472vw;
  }
  .hse, .design {
    position: relative;
    display: flex;
  }
  .footer p {
    font-size: 2.500vw;
    line-height: 3.125vw;
    letter-spacing: -0.5%;
    font-style: italic;
  }
  .bdz {
    margin-left: -3.472vw;
  }
}
