html {
  font-family: nishipi;
 background:#DEFFFF;
 display: block;
 height: 100%;
}
body {
  height: auto;
  width: 1440px;
  position: relative;
  display: block;
  margin: 0 auto;
  background: #DEFFFF;
}
* {
  box-sizing: border-box;
}
h1, h2, p {
  color: #FF7596;
}
h2 {
  font-size: 64px;
  line-height: 70px;
}
.border{
  border: 3px solid #FF7596;
  border-radius: 65px;
}
.first {
  position: relative;
  width: 1440px;
  height: 900px;
}
.second {
  position: relative;
  width: 1440px;
  height: 900px;
}
.second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 0px;
}
.third {
  position: relative;
  width: 1440px;
  height: 860px;
}
footer {
  position: relative;
  width: 1440px;
  height: 340px;
}
.about {
  position: relative;
  display: inline-block;
  background: #E9FFE3;
  width: 471px;
  height: 599px;
  margin: 35px 0 0 30px;
  padding: 80px 0 0 25px;
}
.about h2 {
  display: inline-block;
}
.e{
  margin-right: 10px
}
.about p {
  font-size: 36px;
  line-height: 52px;
  letter-spacing: -1.5%;
  font-style: italic;
}
.pomurchim {
  position:absolute;
  display: flex;
  top: 95px;
  right:40px;
}
.pomurchim p {
  font-size: 180px;
}
.catbubs {
  position: relative;
  display: inline-block;
  background: white;
  width: 921px;
  height: 528px;
  margin: 0 0 -290px -30px;
  overflow: hidden;

}
.onebub {
  position: absolute;
  width: 97px;
  height: 93px;
  margin: 162px 0px 0px 665px;
  z-index: 2;
}
.kitbub1 {
  position: absolute;

}
.kitbub11 {
  position: absolute;
  margin: 10px 0 0 10px;
}


.catbubsmain, .catbubsshadow {
  position: absolute;
  display: inline-block;
  width: 921px;
  height: 528px;
}
.catbubsmain div, .catbubsshadow div {
  position: absolute;
}
.kitbub2 {
  margin: 75px 0 0 55px;
}
.kitbub22 {
  margin: 85px 0 0 65px;
}
.kitbub3 {
  width: 219px;
  height: 223px;
  margin: 63px 0 0 197px;
  background: url('../images/kitbub333.svg');
}
.kitbub33 {
  margin: 73px 0 0 207px;
}
.kitbub4 {
  width: 337px;
  height: 295px;
  margin: 101px 0 0 443px;
  background: url('../images/kitbub444.svg');
}
.kitbub44 {
  margin: 111px 0 0 453px;
}
.kitbub5 {
  margin: 198px 0 0 -138px;
  background: url('../images/kitbub555.svg');
}
.kitbub55 {
  margin: 208px 0 0 -128px;
}
.kitbub6 {
  margin: 353px 0 0 340px;
}
.kitbub66 {
  margin: 363px 0 0 350px;
}
.kitbub7 {
  margin: 216px 0 0 547px;
  background: url('../images/kitbub777.svg');
}
.kitbub77 {
  margin: 226px 0 0 557px;
}

.paws, .pawsp {
  position: relative;
  width: 631px;
  height: 281px;
  margin: -55px 0 0 25px;
  z-index: 2;
}
.paws div, .pawsp div {
  position: relative;
  display: inline-block;
  width: 146px;
  height: 137px;
  margin-right: 100px;
}
.paws div:nth-of-type(3), .pawsp div:nth-of-type(3) {
  margin-left: 135px;
}
.lpaw {
  background: url('../images/lpawp.svg')
}
.rpaw {
  background: url('../images/rpawp.svg')
}
.lpawp {
  background: url('../images/lpaw.svg')
}
.rpawp {
  background: url('../images/rpaw.svg')
}
.bubls1, .bubls2 {
  position: relative;
  background: #FFDCE9;
  width: 262px;
  height: 782px;
  overflow: hidden;
}
.bubls1 {
  margin-left: 30px;
}
.bublsmain1, .bublsb2 {
  position: relative;
  margin-left: 60px;
  z-index: 1;
}
.bublsb1 {
  position: relative;
  margin:-1455px 0 0 70px;
  z-index: 0;
}
.bubls2 {
  margin-right: 30px;
}
.bublsmain2 {
  position: relative;
  margin:-1455px 0 0 70px;
  z-index: 2;
}
.blocks3 {
  width: 700px;
  height: 782px;
}
.drops, .drips {
  background: white;
  width: 385px;
  height: 150px;
    overflow: hidden;
}
.drops {
  margin-left: auto;
  background: url('../images/dropscolor.svg');
}
.drips {
  background: url('../images/drips.svg');
}
.sound {
  /* background: #E9FFE3; */
  width: 700px;
  height: 443px;
  margin: 20px 0;
  overflow:hidden;
  background: url('../images/rainbow.svg');
}
.kitc {
  position: absolute;
  width: 312px;
  height: 272px;
  z-index: 1;
  margin: -356px 0px 0px 194px;
}
.vibr {
  width: 698px;
  height: 443px;
  position: relative;
  margin: -450px 0px 0px -5px;
  z-index: 2;
  padding: 20px 0;
}


.murr {
  position: absolute;
}
.rrr, .mmm  {
  font-size: 128px;
}
.rr, .rr1, .mm {
  font-size: 64px;
}
.r, .r1, .r2, .m, .m1 {
  font-size: 40px;
}
.rrr, .mmm, .rr, .rr1, .mm, .r, .r1, .r2, .m, .m1{
  position: absolute;
  display: flex;
  z-index: 3;
}
.pawsp {
  margin-top: 10px;
}
.rrr {
  margin-top: -287px;
  margin-left: 317px;
  transform: rotate(-19deg);
}
.rr {
  margin-top: -98px;
  margin-left: 177px;
  transform: rotate(15deg);
}
.rr1 {
  margin-top: 95px;
  margin-left: 323px;
  transform: rotate(-19deg);
}
.r {
  margin-top: -354px;
  margin-left: 300px;
  transform: rotate(15deg);
}
.r1 {
  margin-top: -14px;
  margin-left: 318px;
  transform: rotate(-13deg);
}
.r2{
  margin-top: 227px;
  margin-left: 262px;
  transform: rotate(15deg);
}
.mmm {
  margin-top: 191px;
  margin-left: 768px;
}
.mm{
  margin-top: -205px;
  margin-left: 865px;
}
.m {
  margin-top: 0;
  margin-left: 1029px;
  transform: rotate(90deg);
}
.m1 {
  margin-top: 308px;
  margin-left: 1012px;
}
.mpt {
  position: relative;
  display: flex;
  width: 695px;
  height: 380px;
  margin: -200px 0px 0px auto;
  margin-right: 155px;
  z-index: 1;
}
.moscow, .moskva, .piter, .spb, .torzhok, .logo {
  width: 235px;
  height: 380px;
  overflow: hidden;
}
.moscow, .torzhok {
  background: #FFF3E8;
}
.spb, .letters {
  background: #FFDCE9;
}
.spb {
  margin-left: -2px;
}
.torzhok {
  margin-left: -2px;
}
.gorod {
  position: absolute;
  transform: rotate(270deg);
  display: flex;
  z-index: 1;
}
.gorod h2 {
  margin: 0 2px;
}
.moskva {
  top:0;
  left:160px;
}
.piter {
  top:-25px;
  left:390px;
}
.tor {
  top:155px;
  left:465px;
}
.wavep1, .waveb1, .waveg1 {
  position: relative;
  opacity: 50%;
  z-index: 0;
}
.wavep2, .waveb2, .waveg2 {
  position: relative;
  opacity: 75%;
  z-index: 2;
}
.wavep1{
  margin: 80px 0px 0px 0px;
}
.wavep2 {
  margin: -270px 0px 0px 0px;
}
.waveb1{
  margin: 125px 0px 0px 0px;
}
.waveb2 {
  margin: -320px 0px 0px 0px;
}
.waveb1{
  margin: 125px 0px 0px 0px;
}
.waveb2 {
  margin: -320px 0px 0px 0px;
}
.waveg1 {
  margin: 65px 0px 0px 0px;
}
.waveg2{
  margin-top: -320px;
}
.logo {
  position: relative;
  background:url('../images/logo1.svg');
  margin: -230px 0 0 140px;
  z-index: 1;
}
.letters {
  position: relative;
  width: 255px;
  height: 240px;
  margin: -145px 0 0 205px;
  z-index: 2;
}
.letters h2 {
  position: absolute;
  top:-2px;
  left:-2px;
  z-index: 1;
}
.blue h2 {
  position: absolute;
  top:4px;
  left:4px;
  color:#DEFFFF;
  z-index: 0;
}
.time {
  position: relative;
  width: 700px;
  height: 446px;
  background: white;
  margin: -375px 0 0 275px;
  z-index: 0;
  padding: 50px 10px;
}
.cat {
  position: relative;
  width: 660px;
  height: 680px;
  z-index: 2;
  margin: -540px 80px 0px 0px;
  margin-left: auto;
}
.kotik {
  position: absolute;
  top: 0;
  left: 0;
}
.tie {
 position: absolute;
 left: 455px;
 margin-top:230px;
}
.tiec {
 position: absolute;
 left: 450px;
 margin-top: 220px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 1380px;
  height: 290px;
  background: #FFF3E8;
  padding: 85px 100px 85px 50px;
}
.hse, .design {
  position: relative;
  display: flex;
}
.footer p {
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -0.5%;
  font-style: italic;
}
.bdz {
  margin-left: -50px;
}
