@media only screen and (min-width:1025px) {
  html {
    font-family: nishipi;
    background:#DEFFFF;
    display: block;
    height: 100%;
  }
  body {
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #DEFFFF;
  }
  * {
    box-sizing: border-box;
  }
  h1, h2, p {
    color: #FF7596;
  }
  h2 {
    font-size: 64px;
    line-height: 70px;
  }
  .border{
    border: 3px solid #FF7596;
    border-radius: 65px;
  }
  .first {
    position: relative;
    width: 1440px;
    height: 900px;
  }
  .second {
    position: relative;
    width: 1440px;
    height: 900px;
  }
  .second {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .third {
    position: relative;
    width: 1440px;
    height: 860px;
  }
  footer {
    position: relative;
    width: 1440px;
    height: 340px;
  }
  .about {
    position: relative;
    display: inline-block;
    background: #E9FFE3;
    width: 471px;
    height: 599px;
    margin: 35px 0 0 30px;
    padding: 80px 0 0 25px;
  }
  .about h2 {
    display: inline-block;
  }
  .e{
    margin-right: 10px
  }
  .about p {
    font-size: 36px;
    line-height: 52px;
    letter-spacing: -1.5%;
    font-style: italic;
  }
  .pomurchim {
    position:absolute;
    display: flex;
    top: 95px;
    right:40px;
  }
  .pomurchim p {
    font-size: 180px;
  }
  .catbubs {
    position: relative;
    display: inline-block;
    background: white;
    width: 921px;
    height: 528px;
    margin: 0 0 -290px -30px;
    overflow: hidden;
  }
  .onebub {
    position: absolute;
    width: 97px;
    height: 93px;
    margin: 162px 0 0 665px;
    z-index: 2;
  }
  .kitbub1 {
    position: absolute;
  }
  .kitbub11 {
    position: absolute;
    margin: 10px 0 0 10px;
  }
  .catbubsmain, .catbubsshadow {
    position: absolute;
    display: inline-block;
    width: 921px;
    height: 528px;
  }
  .catbubsmain div, .catbubsshadow div {
    position: absolute;
  }
  .kitbub2 {
    margin: 75px 0 0 55px;
  }
  .kitbub22 {
    margin: 85px 0 0 65px;
  }
  .kitbub3 {
    width: 219px;
    height: 223px;
    margin: 63px 0 0 197px;
    background: url('../images/kitbub333.svg');
  }
  .kitbub33 {
    margin: 73px 0 0 207px;
  }
  .kitbub4 {
    width: 335px;
    height: 297px;
    margin: 101px 0 0 443px;
    background: url('../images/kitbub444.svg');
  }
  .kitbub44 {
    margin: 111px 0 0 453px;
  }
  .kitbub5 {
    margin: 198px 0 0 -138px;
    background: url('../images/kitbub555.svg');
  }
  .kitbub55 {
    margin: 208px 0 0 -128px;
  }
  .kitbub6 {
    margin: 353px 0 0 340px;
  }
  .kitbub66 {
    margin: 363px 0 0 350px;
  }
  .kitbub7 {
    margin: 216px 0 0 547px;
    background: url('../images/kitbub777.svg');
  }
  .kitbub77 {
    margin: 226px 0 0 557px;
  }

  .paws, .pawsp {
    position: relative;
    width: 631px;
    height: 281px;
    margin: -55px 0 0 25px;
    z-index: 2;
  }
  .paws div, .pawsp div {
    position: relative;
    display: inline-block;
    width: 146px;
    height: 137px;
    margin-right: 100px;
  }
  .paws div:nth-of-type(3), .pawsp div:nth-of-type(3) {
    margin-left: 135px;
  }
  .lpaw {
    background: url('../images/lpawp.svg')
  }
  .rpaw {
    background: url('../images/rpawp.svg')
  }
  .lpawp {
    background: url('../images/lpaw.svg')
  }
  .rpawp {
    background: url('../images/rpaw.svg')
  }
  .bubls1, .bubls2 {
    position: relative;
    background: #FFDCE9;
    width: 262px;
    height: 782px;
    overflow: hidden;
  }
  .bubls1 {
    margin-left: 30px;
  }
  .bublsmain1, .bublsb2 {
    position: relative;
    margin-left: 60px;
    z-index: 1;
  }
  .bublsb1 {
    position: relative;
    margin:-1455px 0 0 70px;
    z-index: 0;
  }
  .bubls2 {
    margin-right: 30px;
  }
  .bublsmain2 {
    position: relative;
    margin:-1455px 0 0 70px;
    z-index: 2;
  }
  .blocks3 {
    width: 700px;
    height: 782px;
  }
  .drops, .drips {
    background: white;
    width: 385px;
    height: 150px;
      overflow: hidden;
  }
  .drops {
    margin-left: auto;
    background: url('../images/dropscolor.svg');
  }
  .drips {
    background: url('../images/drips.svg');
  }
  .sound {
    width: 700px;
    height: 443px;
    margin: 20px 0;
    overflow:hidden;
    background: url('../images/rainbow.svg');
  }
  .kitc {
    position: absolute;
    width: 312px;
    height: 272px;
    z-index: 1;
    margin: -356px 0px 0px 194px;
  }
  .vibr {
    width: 698px;
    height: 443px;
    position: relative;
    margin: -450px 0px 0px -5px;
    z-index: 2;
    padding: 20px 0;
  }
  .murr {
    position: absolute;
  }
  .rrr, .mmm  {
    font-size: 128px;
  }
  .rr, .rr1, .mm {
    font-size: 64px;
  }
  .r, .r1, .r2, .m, .m1 {
    font-size: 40px;
  }
  .rrr, .mmm, .rr, .rr1, .mm, .r, .r1, .r2, .m, .m1{
    position: absolute;
    display: flex;
    z-index: 3;
  }
  .pawsp {
    margin-top: 10px;
  }
  .rrr {
    margin-top: -287px;
    margin-left: 317px;
    transform: rotate(-19deg);
  }
  .rr {
    margin-top: -98px;
    margin-left: 177px;
    transform: rotate(15deg);
  }
  .rr1 {
    margin-top: 95px;
    margin-left: 323px;
    transform: rotate(-19deg);
  }
  .r {
    margin-top: -354px;
    margin-left: 300px;
    transform: rotate(15deg);
  }
  .r1 {
    margin-top: -14px;
    margin-left: 318px;
    transform: rotate(-13deg);
  }
  .r2{
    margin-top: 227px;
    margin-left: 262px;
    transform: rotate(15deg);
  }
  .mmm {
    margin-top: 191px;
    margin-left: 768px;
  }
  .mm{
    margin-top: -205px;
    margin-left: 865px;
  }
  .m {
    margin-top: 0;
    margin-left: 1029px;
    transform: rotate(90deg);
  }
  .m1 {
    margin-top: 308px;
    margin-left: 1012px;
  }
  .mpt {
    position: relative;
    display: flex;
    width: 695px;
    height: 380px;
    margin: -200px 0px 0px auto;
    margin-right: 155px;
    z-index: 1;
  }
  .moscow, .moskva, .piter, .spb, .torzhok, .logo {
    width: 235px;
    height: 380px;
    overflow: hidden;
  }
  .moscow, .torzhok {
    background: #FFF3E8;
  }
  .spb, .letters {
    background: #FFDCE9;
  }
  .spb {
    margin-left: -2px;
  }
  .torzhok {
    margin-left: -2px;
  }
  .gorod {
    position: absolute;
    transform: rotate(270deg);
    display: flex;
    z-index: 1;
  }
  .gorod h2 {
    margin: 0 2px;
  }
  .moskva {
    top:0;
    left:160px;
  }
  .piter {
    top:-25px;
    left:390px;
  }
  .tor {
    top:155px;
    left:465px;
  }
  .wavep1, .waveb1, .waveg1 {
    position: relative;
    opacity: 50%;
    z-index: 0;
  }
  .wavep2, .waveb2, .waveg2 {
    position: relative;
    opacity: 75%;
    z-index: 2;
  }
  .wavep1{
    margin-top: 80px;
  }
  .wavep2 {
    margin-top: -270px;
  }
  .waveb1{
    margin-top: 125px;
  }
  .waveb2 {
    margin-top: -320px;
  }
  .waveb1{
    margin-top: 125px;
  }
  .waveb2 {
    margin-top: -320px;
  }
  .waveg1 {
    margin-top: 65px;
  }
  .waveg2{
    margin-top: -320px;
  }
  .logo {
    position: relative;
    background:url('../images/logo1.svg');
    margin: -230px 0 0 140px;
    z-index: 1;
  }
  .letters {
    position: relative;
    width: 255px;
    height: 240px;
    margin: -145px 0 0 205px;
    z-index: 2;
  }
  .letters h2 {
    position: absolute;
    top:-2px;
    left:-2px;
    z-index: 1;
  }
  .blue h2 {
    position: absolute;
    top:4px;
    left:4px;
    color:#DEFFFF;
    z-index: 0;
  }
  .time {
    position: relative;
    width: 700px;
    height: 446px;
    background: white;
    margin: -375px 0 0 275px;
    z-index: 0;
    padding: 50px 10px;
  }
  .cat {
    position: relative;
    width: 660px;
    height: 680px;
    z-index: 2;
    margin: -540px 80px 0px 0px;
    margin-left: auto;
  }
  .kotik {
    position: absolute;
  }
  .tie {
   position: absolute;
   left: 455px;
   margin-top:230px;
  }
  .tiec {
   position: absolute;
   left: 450px;
   margin-top: 220px;
  }
  .footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 1380px;
    height: 290px;
    background: #FFF3E8;
    padding: 85px 100px 85px 50px;
  }
  .hse, .design {
    position: relative;
    display: flex;
  }
  .footer p {
    font-size: 36px;
    line-height: 80px;
    letter-spacing: -0.5%;
    font-style: italic;
    margin-top: -10px;
  }
  .bdz {
    margin-left: -50px;
  }
}
.pomurchim p {
  transition: all .9s ease-out;
}
.pomurchim p:hover {
  transform: rotate3d(0, 1, 0, 60deg);
  color: #FFF3E8;
  transition: all .2s ease-out;
  /* animation-iteration-count: 1;
  animation-play-state: running; */
}
.about h2, .footer h2, .rrr p, .mmm p, .rr p, .rr1 p, .mm p, .r p, .r1 p, .r2 p, .m p, .m1 p {
  transition: all .5s ease-out;
}
.about h2:hover, .footer h2:hover, .rrr p:hover, .mmm p:hover, .rr p:hover, .rr1 p:hover, .mm p:hover, .r p:hover, .r1 p:hover, .r2 p:hover, .m p:hover, .m1 p:hover {
  transform: scale(1.5);
  transition: all .5s ease-out;
  color:#DEFFFF;
}
.rpaw, .rpawp, .rrr, .rr, .rr1, .mmm, .mm, .kitbub1, .kitbub2, .kitbub3, .kitbub6, .kitbub7 {
  animation: levitation 4s ease-in-out -0.25s infinite alternate;
}
.lpawp, .lpaw, .r, .r1, .r2, .m, .m1, .kitbub11, .kitbub22, .kitbub33, .kitbub44, .kitbub55, .kitbub66, .kitbub77 {
  animation: levitation 4s ease-in-out infinite alternate;
}
.kitbub4, .kitbub5 {
  animation: levitation 4s ease-in-out -0.5s infinite alternate;
}
.lpaw img, .lpawp img {
  transition: all .9s ease-out;
}
.rpaw img, .rpawp img {
  transition: all .9s ease-out;
}
.lpaw img:hover, .lpawp img:hover {
  opacity: 0;
  transition: all .9s ease-out;
}
.rpaw img:hover, .rpawp img:hover {
  opacity: 0;
  transition: all .9s ease-out;
}
.drops{
  animation: dropscolor 1.5s steps(1) infinite;
}
.drops:hover {
  animation-play-state: paused;
}
.drips{
  animation: drips .75s steps(1) infinite;
}
.drips:hover {
  animation-play-state: paused;
}
.bublsmain1, .bublsb1 {
  animation: bublsmain1 4s linear infinite;
}
.bublsmain2, .bublsb2 {
  animation: bublsmain2 4s linear infinite;
}
.kitc, .kitbub3 img, .kitbub4 img, .kitbub5 img, .kitbub7 img {
  transition: all 1s ease-out;
}
.kitc:hover, .vibr:hover ~ .kitc, .kitbub3 img:hover, .kitbub4 img:hover, .kitbub5 img:hover, .kitbub7 img:hover{
  opacity: 0;
  transition: all 1s ease-out;
}
.sound {
  animation: rainbow 4s linear  infinite alternate;
}
.vibr {
  animation: vibr 12s cubic-bezier(0.45, 0.05, 0.55, 0.95)  infinite;
  animation-play-state: paused;
  transition: all .9s ease-out;
}
.vibr:hover {
  animation: vibr 12s cubic-bezier(0.45, 0.05, 0.55, 0.95)  infinite;
  transition: all .9s ease-out;
}

.wavep1 {
  animation: wave 30s linear infinite;
}
.wavep2 {
  animation: wave 20s linear -0.5s infinite;
}
.waveb1 {
  animation: wave 40s linear -2s infinite reverse;
}
.waveb2 {
  animation: wave 10s linear  infinite reverse;
}
.waveg1 {
  animation: wave 25s linear -2s infinite;
}
.waveg2 {
  animation: wave 15s linear  infinite;
}
.let1 {
  animation: letters 6s cubic-bezier(0.74, -0.05, 0.42, 1.18) -5.05s infinite;
}
.let2 {
  animation: letters 6s cubic-bezier(0.74, -0.05, 0.42, 1.18) -4.05s infinite;
}
.let3 {
  animation: letters 6s cubic-bezier(0.74, -0.05, 0.42, 1.18) -3.05s infinite;
}
.let4 {
  animation: letters 6s cubic-bezier(0.74, -0.05, 0.42, 1.18) -2.05s infinite;
}
.let5 {
  animation: letters 6s cubic-bezier(0.74, -0.05, 0.42, 1.18) -1.05s infinite;
}
.let6 {
  animation: letters 6s cubic-bezier(0.74, -0.05, 0.42, 1.18) -0.05s infinite;
}
.blue .let1 {
  animation: letters 6s cubic-bezier(0.74, -0.05, 0.42, 1.18) -5s infinite;
}
.blue .let2 {
  animation: letters 6s cubic-bezier(0.74, -0.05, 0.42, 1.18) -4s infinite;
}
.blue .let3 {
  animation: letters 6s cubic-bezier(0.74, -0.05, 0.42, 1.18) -3s infinite;
}
.blue .let4 {
  animation: letters 6s cubic-bezier(0.74, -0.05, 0.42, 1.18) -2s infinite;
}
.blue .let5 {
  animation: letters 6s cubic-bezier(0.74, -0.05, 0.42, 1.18) -1s infinite;
}
.blue .let6 {
  animation: letters 6s cubic-bezier(0.74, -0.05, 0.42, 1.18) 0s infinite;
}
.letters h2, .blue h2 {
  transition: all .7s ease-out;
}
.letters h2:hover {
  transition: all .7s ease-out;
  opacity: 0;
}
.letters h2:hover ~ .blue h2 {
  transition: all .7s ease-out;
  opacity: 0;}
.letters{
  animation: backcol 6s cubic-bezier(0.74, -0.05, 0.42, 1.18) 0s infinite;
}
.logo img {
  transition: all .7s ease-out;
}
.logo img:hover {
  opacity: 0;
  transition: all .7s ease-out;
}
.time img {
  animation: blink 5s alternate linear infinite;
}
.kotik, .tiec {
  animation: levitation 4s ease-in-out -0.5s infinite alternate;
}
.tie {
  animation: levitation 4s ease-in-out -0.25s infinite alternate;
}
.bdz{
  animation: rotate 9s linear infinite;
}
.bdz:hover {
  animation-play-state: paused;
}
@keyframes levitation {
  0% {top:-20px;}
  50% {top:20px;}
  100% {top:-20px;}
}

@keyframes dropscolor {
  0% {background-position: 10px;}
  25% {background-position: -47px;}
  50% {background-position: -108px;}
  75% {background-position: -165px;}
}
@keyframes drips {
  0%{background-position: 0;}
  12.5%{background-position: -385px;}
  25%{background-position:-770px;}
  37.5%{background-position:-1155px;}
  50%{background-position:-1540px;}
  62.5%{background-position:-1925px;}
  75%{background-position:-2310px;}
  87.5%{background-position:-2695px;}
  100% {background-position:0;}
}
@keyframes bublsmain1 {
  0% {top:0px;}
  100% {top:-100%}
}
@keyframes bublsmain2 {
  0% {top:-100%;}
  100% {top:0}
}
@keyframes rainbow {
  0% {background-position: -100%;}
  100% {background-position: 0;}
}
@keyframes vibr {
 0% {left: 0;}
 50% { left: -2390px;}
 100% {left: -0;}
}
@keyframes wave {
  0% {left:-1500%;}
  100% {left:0;}
}
@keyframes letters {
  0%{top: 0; left: 80px; transform: rotate(-97.52deg);}
  16.6666667%{top: 31px; left: 176px; transform: rotate(-15deg);}
  33.3333333%{top: 99px; left: 117px; transform: rotate(45deg);}
  50%{top: 159px; left: 181px; transform: rotate(105deg);}
  66.6666667%{top: 160px; left: 50px; transform: rotate(-30deg);}
  83.3333334%{top: 80px; left: 25px; transform: rotate(-70deg);}
  100%{top: 0; left: 80px; transform: rotate(-97.52deg);}
}
@keyframes backcol {
  0%{background:#FFDCE9; }
  16.6666667%{background:#FFF3E8;}
  33.3333333%{background:#E9FFE3;}
  50%{background:#FFDCE9;}
  66.6666667%{background:#FFF3E8;}
  83.3333334%{background:#E9FFE3;}
  100%{background:#FFDCE9;}
}
@keyframes blink {
  0% {opacity: 1;}
  20%{opacity: .25;}
  30%{opacity:1;}
  40%{opacity: .25;}
  50%{opacity: 1;}
  60%{opacity:.5}
  70%{opacity:1;}
  80%{opacity:.25;}
  90% {opacity:1}
  100%  {opacity: 0;}
}
@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}
