@font-face {
  font-family: "nishipi";
  src: url("../fonts/Baymax.otf");
  src: local("Baymax"),
  url("../fonts/Baymax.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "nishipi";
  src: url("../fonts/comfortaa.ttf");
  src: local("comfortaa"),
  url("../fonts/comfortaa.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
